{{- define "beanLine" -}}
- {{typeBadge .}} {{.Title}} {{beanRef .}}
{{end -}}

{{- define "featureGroup" -}}
#### Feature: {{.Feature.Title}} {{beanRef .Feature}}
{{with firstParagraph .Feature.Body}}
> {{.}}
{{end}}

{{range .Items -}}
{{template "beanLine" .}}
{{- end}}
{{- end -}}

{{- define "epicGroup" -}}
### Epic: {{.Epic.Title}} {{beanRef .Epic}}
{{with firstParagraph .Epic.Body}}
> {{.}}
{{end}}

{{range .Items -}}
{{template "beanLine" .}}
{{- end}}
{{- range .Features -}}
{{template "featureGroup" .}}
{{- end}}
{{- end -}}

# Roadmap
{{range .Milestones}}
## Milestone: {{.Milestone.Title}} {{beanRef .Milestone}}
{{with firstParagraph .Milestone.Body}}
> {{.}}
{{end}}
{{range .Epics -}}
{{template "epicGroup" .}}
{{- end}}
{{- range .Features -}}
{{template "featureGroup" .}}
{{- end}}
{{- if .Other}}
{{- if or (len .Epics) (len .Features)}}
### Miscellaneous
{{end}}

{{range .Other -}}
{{template "beanLine" .}}
{{- end}}
{{- end}}
{{- end}}
{{- if .Unscheduled}}
{{- if len $.Milestones}}
## No Milestone
{{end}}
{{- range .Unscheduled.Epics -}}
{{template "epicGroup" .}}
{{- end}}
{{- range .Unscheduled.Features -}}
{{template "featureGroup" .}}
{{- end}}
{{- if .Unscheduled.Other}}
{{- if or (len .Unscheduled.Epics) (len .Unscheduled.Features)}}
### Miscellaneous
{{end}}

{{range .Unscheduled.Other -}}
{{template "beanLine" .}}
{{- end}}
{{- end}}
{{- end}}
